:root {
  --gradient: linear-gradient(to bottom, #00b09b, #96c93d);
}
.row {
  position: relative;
  padding-top: 10px;
  margin-left: -20%;
  height: 600px;
  width: 500px;
  box-shadow: 3px 3px 6px black;
  border: #0d47a1 solid 8px;
  background: linear-gradient(to bottom, #00b09b, #96c93d);
  border-radius: 10px;
  font-family: "Russo One", sans-serif;
}
h5 {
  /* COLOR DEGRADADO A LAS LETRAS*/
  background: -webkit-linear-gradient(yellow, rgba(219, 106, 13, 0.993));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.padre {
  display: grid;
  text-align: center;
  place-items: center;
}
.poderes1 {
  display: flex;
  display: inline-flex;
  max-height: 70px;
  margin-top: 80px;
}
.poderes2 .col p{
  text-decoration-color: white;
}
.poderes2 {
  display: flex;
  justify-content: space-between;
}

.picture img {
  width: 250px;
  height: 250px;
  margin-bottom: -45px;
}
.powers {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.col-sm {
  max-height: 70px;
  font-size: large;
  color: white;
}
.container-especific {
  background-image: url("https://pbs.twimg.com/media/DQum78SUMAIqYzS.jpg");
  background-size: cover;
  height: 100vh;
  display: grid;
  place-items: center;
}
.back{
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .row {
    height: 600px;
    width: 400px;
    position: relative;
    margin-left: -3%;
  }
  .poderes1 {
    display: flex;
    justify-content: inline-flex;
  }
  .powers{
    margin-top: 50px;
  }
  
}
@media (max-width: 575px) {
  .poderes1 {
    display: flex;
    justify-content: space-evenly;
  }
  
}

@media (max-width:440px){
  .row{
    width: 320px;
  }
  .poderes1 {
    display: flex;
    justify-content: space-evenly;
  }
  .col-sm{
    padding-left: 15px;
  }
}