:root {
  --xsm: 200px;
  --sm: 300px;
  --lg: 400px;
  --gradient: linear-gradient(to bottom, #00b09b, #96c93d);
}
.App {
  display: grid;
  overflow-x: hidden;
  background-image: url("https://pbs.twimg.com/media/DQum78SUMAIqYzS.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}
.container-header-target {
  display: flex;
  justify-content: space-between;
}
.id {
  color: black;
  font-weight: 300;
}
.container-header {
  display: grid;
  place-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}
.Navbar {
  background-color: rgb(30, 83, 114);
  width: 100%;
  height: 12vh;
  display: flex;
  overflow: hidden;
}
.container {
  background: none;
}
.container-input {
  width: 80%;
}
.input {
  place-items: center;
  border: none;
  border-radius: 4px;
  height: 40px;
  padding-left: 10px;
  width: 80%;
}
.img-poke-titulo {
  display: grid;
  place-items: center;
  padding-bottom: 50px;
}
.loader {
  display: grid;
  place-items: center;
}

.container-pokemons {
  display: grid;
  place-items: center;
  margin-top: 50px;
}
.target {
  width: var(--md);
  height: var(--md);
}
.container-img {
  display: grid;
  place-items: center;
  z-index: 1;
}
.img {
  height: var(--xsm);
}
.card-tittle {
  text-decoration: none;
  list-style: none;
}
.card-type {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.type {
  text-decoration: none;
  list-style: none;
}
.target {
  justify-content: center;
  text-align: center;
  margin: 10px;
  box-shadow: 2px 2px 6px black;
  border-radius: 10px;
  text-decoration: none;
  background: var(--gradient);
  opacity: 0.9;
}
h3 {
  font-size: 30px;
}
p {
  font-size: 20px;
}
h3,
p {
  /* COLOR DEGRADADO A LAS LETRAS*/
  background: -webkit-linear-gradient(
    rgb(247, 247, 7),
    rgba(109, 54, 9, 0.993)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@media (min-width: 880px) {
  .container-pokemons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }
}
@media (min-width: 1340px) {
  .container-pokemons {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
  }
}

/*
.form-control {
  height: 45px;
}

.id {
  display: flex;
  padding-left: 5px;
  margin-top: -5px;
  opacity: 0.4;
}
.pokemon-favorite {
  text-align: right;
  padding-right: 5px;
  margin-left: auto;
  margin-top: -20px;
}
.i-p {
  width: 50px;
  text-align: center;
  justify-content: center;
}
.container {
  padding: 10px;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
@media (max-width: 790px) {
  .container {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 575px) {
  .container {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 430px) {
  .container {
    grid-template-columns: auto;
  }
}
.card {
  padding: 10px 10px 10px 100px;
  box-shadow: 3px 3px 3px black;
}
.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.card-img {
  width: 150px;
  height: 150px;
}
.card-name {
  text-decoration: none;
  justify-content: center;
  padding-top: 15px;
  padding-left: 10px;
}
.card-type p {
  text-align: left;
  font-size: 18px;
  display: inline-block;
  margin-right: 10px;
}
/*************************/

/*
@media (max-width: 790px) {
  .row-loader {
    display: flex;
    padding-left: 10%;
  }
}
.container-poke {
  display: flex;
  justify-content: center;
}
@media (max-width: 790px) {
  .row-poke {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
}
@media (max-width: 630px) {
  .row-poke {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 480px) {
  .row-poke {
    display: grid;
    grid-template-columns: 100%;
  }
}
*/
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(30, 83, 114);
}
